table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}
th {
    background-color: #f2f2f2;
}
.friends {     
    font-weight: bold;     
    text-align: center;     
    background-color: #f2f2f2;
}
.tags {     
    font-weight: bold;     
    text-align: center;     
    background-color: #f2f2f2;
}
.indice1 {     
    font-weight: bold;     
    text-align: center;     
    background-color: #f2f2f2;
}
.indice2 {     
    font-weight: bold;     
    text-align: center;     
    background-color: #f2f2f2;
}